:root{
   font-size: 20px;
   --color-title-card: #353C57
}
body{
   margin: 0;
   font-family: 'PT Sans', sans-serif;
   background-color: #FBE4FF;
   
}
.header{
   background-color: #243B93;
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
}
.header__menu{
   display: flex;
   justify-content: space-between;
   list-style: none;
   align-items: center;
   width: 70%;
   text-align: center;
}
.header__menu-item a{
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
}
.logo{
   display: flex;
   align-items: center;
}

.title{
   background-color: #BFF0FF;
}
.container{
   width: 80%;
   margin: 0 auto;
   
}
.title h2{
   font-weight: 400;
   font-size: 2.2rem;
   font-style: italic;
   padding: 1rem 0;
   margin: 0;
}
.list{
   background-color: #FFFFFF;
   color: rgba(0, 0, 0, 0.61);
   padding: 0.5rem 0;
   margin: 1rem 0;
   font-size: 1.4rem;
   text-align: center;
   position: relative;
}
.list::after{
   content: url(../style/img/arrow.svg);
   position: absolute;
   right: 1rem;
   top: 25%;
}
.card{
   background: linear-gradient(90deg, #ADCBD4 6%, #00AEE5 36%);
   display: flex;
   justify-content: space-evenly;
   padding: 1.5rem 0;
   position: relative;
   margin-bottom: 1.5rem;
   transition: all 1s;
}
.card *{
   transition: all 1s;
}
.card > .card-img{
   width: 30%;
}
.card-img > img{
   width: 100%;
   min-height: 100%;
}
.card > .card-description{
   width: 55%;
   
}
.card .card-description__title{
   font-weight: 700;
   font-style: italic;
   font-size: 1.8rem;
   color: var(--color-title-card);
   border-bottom: 3px solid #ffffff;
}
.card .card-description__content{
   background-color: #EDFBFF;
   color: #202846;
   box-sizing: border-box;
   text-align: center;
   margin-top: .5rem;
   font-size: 1.1rem;
}
.card .star, .card .button{
position: absolute;
}

.card .button{
   background-color: #243B93;
   color: #FFFFFF;
   width: 200px;
   right: -42px;
   bottom: 20px;
   text-align: center;
   padding: 0.5rem 0;
   border-radius: 50px;
   text-decoration: none;
   display: inline-block;
   font-size: 1.2rem;
}
.card .star{
   right: 14px;
   top: 14px;
}

.arrow-fix{
   position: fixed;
   top:50rem;
   right: 10rem;
}

/*hover start*/

.card:hover{
   background: #2CBDEB;
   box-shadow: 0 0 60px 4px rgba(44, 189, 235, 1);
}
.card:hover .star path{
   fill: #FFF500;
}
.card:hover .button{
   background-color: #EF075B;
}


.kabinet{
   height: 4.25rem;
   background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
   
   
}
.kabinet-title{
   font-style: italic;
   font-size: 2.2rem;
   font-weight: 400;
   width: 80%;
   padding: 0.5% 0 0 10%;
}

.kabinet-content{
   height: 500px;
   background: linear-gradient(180deg, #859EFF 2%, rgba(105,255,210,0.5) 75%);
   margin: 1.5rem auto;
   width: 80%;
   position: relative;

}
.avatar{
   position: absolute;
   top: 3.5rem;
   left: 10rem;
}
.button-avatar, .button-settings{
   position: absolute;
   color: #FFFFFF;
   background-color: #243B93;
   font-weight: 400;
   font-size: 1.1rem;
   text-align: center;
   border-radius: 50px;
   text-decoration: none;
}
.button-avatar{
   top: 15rem;
   left: 9rem;
   padding: 0.5rem 2rem;
   
}
.button-settings{
   top: 19rem;
   left: 9rem;
   padding: 0.5rem 2.2rem;
   
}
.button-avatar:hover, .button-settings:hover{
   background-color: #EF075B;
}
.kabinet-info{
   font-weight: 700;
   font-size: 1.8rem;
   font-style: italic;
   color: #353C57;
   padding: 3% 0 0 37%;
   width: 56%;
}
.kabinet-info > div{
   padding: 0.7rem;
   
}
.border{
   border-top: 4px solid #FFFFFF;
   border-bottom: 4px solid #FFFFFF;
}
span{
   font-weight: 400;
}

.button-exit{
   color: #FFFFFF;
   background-color: #243B93;
   padding: 0.5rem 2rem;
   margin: 2% 46% 4% 46%;
   border-radius: 50px;
}

.contact{
   height: 4.25rem;
   background: linear-gradient(90deg, #54D6FF 0%, #A5DD87 47.19%, #FFE600 100%);
margin: 2% 0;
}
.contact-title{
   font-style: italic;
   font-size: 2.2rem;
   font-weight: 400;
   width: 80%;
   padding: 0.5% 0 0 10%;
}

.contact-content > div{
   color: #000000;
   font-weight: 400;
   font-size: 1.6rem;
}
.contact-content{
   width: 80%;
   padding: 2.5% 10%;
}

.phone-title{
   border-bottom: 2px solid #202846;
   width: 14rem;
}

.adress-title{
   border-bottom: 2px solid #202846;
   width: 15rem;
}
.adress{
   padding: 6% 0;
}
.email-title{
   border-bottom: 2px solid #202846;
   width: 14rem;
}

.flex{
   display: flex;
   justify-content: space-between;
}
.map{
   width: 25rem;
   height: 15rem;
   border: 4px solid #243B93;
   border-radius: 40px;
}

.footer{
   height: 3.25rem;
   color: #FFFFFF;
   background-color: #243B93;
   font-size: 0.8rem;
   font-weight: 400;
   padding: 0.8% 10%;
   box-sizing: border-box;
}
details summary::-webkit-details-marker{
   display: none;
}

