body{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   max-width: 1000px;

}
.header{
   text-align: center;
   text-transform: uppercase;
   font-size: 48px;
   font-weight: 400;
}
.header-blue{
   color: #3E45E8;
}
.header-yellow{
   color: #E8C23E;
}
.places{
   font-family: 'Roboto';
   font-size: 40px;
   text-transform: uppercase;
}
.cards > div{
   width: 30%;
   height: 400px;
   border: 3px solid #0D095F;
   border-radius: 26px;
   display: inline-block;
   
   margin: 10px;
   vertical-align: top;
}
.card_one{
   box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.7);
}
.card_two{
   box-shadow: -0 21px 35px rgba(0, 209, 255, 0.7);
}
.card_three{
   box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.7);
}
.card_img{
   width: 100%;
}
.card_title{
   color: #0072DB;
font-size: 24px;
}
.card_subtitle{
   color: #FF9900;
   font-weight: 400;
font-size: 20px;
}
.peremoge{
   text-transform: uppercase;
   text-align: center;
   font-size: 40px;
}
.line{
   width: 58%;
   border-bottom: 5px solid #1400FF;
   margin: 0 auto;
}
.map{
   margin: 32px 0;
}
.button_text{
   text-align: center;
   font-size: 64px;
   color: #FFFFFF;
   text-decoration: none;
}
.button{
   background-image: url(./img/button\ go.png);
   background-repeat: no-repeat;
margin: 0 25%;
padding-bottom: 10px;
}

.footer{
   background-color: #0D0661;
   height: 320px;
   margin-top: 21px;
   text-align: center;
   font-size: 48px;
   font-weight: 400;
   font-family: 'M PLUS 1';
   
}
.stronguk{
   text-decoration: none;
   color: #3E45E8;
}
.footer_span{
   color: #DFE31E;
}
.mail{
   font-family: 'Marcellus SC';
   font-size: 36px;
   color: #A89D9D;
   font-weight: 400;
   text-decoration: none;
   }
.tel{
   font-family: 'Marcellus SC';
   font-size: 36px;
   color: #A89D9D;
   font-weight: 400;
   text-decoration: none;
}
.icon{
   padding-top: 21px;
}