@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600&display=swap');

html{
   font-size: 10px;
   --color-white: white;
   --color-orange: #FFB742;
   background-color: #212529;
   
}
body{
   width: 100%;
}

.nav{
   display: flex;
   width: 90%;
   justify-content: space-between;
   margin: 0 auto;
}
.menu{
   display: flex;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 1.8rem;
   justify-content: space-between;
   width: 29%;
   text-transform: capitalize;
   align-items: center;
   text-decoration: none;
}
.item-nav{
   text-decoration: none;
   color: var(--color-white);
}
.item-nav:hover{
   color: var(--color-orange);
}
.text-about{
   width: 90%;
   margin: 0 auto;

}
.pre-title{
   color: var(--color-white);
   font-family: 'Inter', sans-serif;
   font-size: 3.2rem;
   font-weight: 700;
   margin: 10% 0 0 35%;
}
.span-pretitle{
   color: var(--color-orange);
   border-bottom: 2px solid var(--color-orange);
}
.title{
   font-size: 4.8rem;
   color: var(--color-white);
   text-transform: capitalize;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   margin: 2% auto;
   width: 72%;
}
.subtitle{
   color: var(--color-white);
   font-family: 'Inter', sans-serif;
   font-size: 2.4rem;
   font-weight: 400;
   text-transform: capitalize;
   margin: 5% auto;
   width: 57%;
}
.avatar{
   margin: 0 0 5% 42%;
   
}
.cards{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 10% auto;
}
.card{
   width: 30%;
   background: #292B2E;
   color: var(--color-white);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 3rem 0;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   border-radius: 10px;
   text-align: center;
   transition: all 500ms;
}

.card:hover{
   background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.card:hover .card-title, .card:hover .card-subtitle{
   color:#212529;
}
.card-title{
   font-size: 3.2rem;
   color: var(--color-orange);
}

.card-subtitle{
   font-size: 1.6rem;
   color: var(--color-white);
}
.about{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 3% auto;
   
}
.text{
width: 50%;
}
.pre-title-about{
   color: var(--color-orange);
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.08);
   padding: 10px 30px;
   border-radius: 30px;
   text-decoration: none;
   
}
.title-about{
   color: var(--color-white);
   font-family: 'Roboto', sans-serif;
   font-size: 4.8rem;
   font-weight: 700;
   margin: 5% 0 8% 0;

}
.content-about{
   color: #D4D4D4;
   font-family: 'Poppins', sans-serif;
   font-size: 1.6rem;
   font-weight: 400;
   margin-bottom: 10%;
}
.button-about{
   color: #212529;
   font-size: 1.8rem;
   background-color: #FFB742;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   padding: 15px 40px;
   border-radius: 30px;
   text-decoration: none;
}

.info{
   width: 90%;
   margin: 0 auto;
}
.skills-info{
   width: 50%;
}
.skills{
   color: var(--color-orange);
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.08);
   padding: 10px 30px;
   border-radius: 30px;
   text-decoration: none;
   }
   .skills-title{
   color: var(--color-white);
   font-family: 'Roboto', sans-serif;
   font-size: 4.8rem;
   font-weight: 700;
   margin-top: 2rem;
   width: 90%;
   }
   .skills-content{
      color: #D4D4D4;
      font-family: 'Poppins', sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 4% 0 12% 0;
   }
   .skills-button{
      color: #212529;
      font-size: 1.8rem;
      background-color: #FFB742;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      padding: 15px 40px;
      border-radius: 30px;
      text-decoration: none;
      
   }
   .info{
      display: flex;
      justify-content: space-between;
   }
   .line-one > div, .line-two > div{
      background-color: #383E45;
      padding: 2rem;
      border-radius: 10px;
   }
   .line-one{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   } 
   .line-two{
      display: flex;
      justify-content: space-evenly;
      margin-top: 1rem;
      align-items: center;
   }
   
   .skills-icon{
      width: 45%;
   }
   .sass{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
   }
   .figma{
      padding-left: 0.8rem;
      padding-right: 0.8rem;
   }
   .line-one > div:hover, .line-two > div:hover{
background: rgba(255, 183, 66, 0.5);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.title-works{
   color: var(--color-orange);
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.08);
   padding: 10px 30px;
   border-radius: 30px;
   display: inline-block;
   width: 11rem;
   margin: 13% 42% 1%;
}
.subtitle-works{
   color: var(--color-white);
   font-family: 'Roboto', sans-serif;
   font-size: 4.8rem;
   font-weight: 700;
   width: 28%;
   margin: 0 auto;
}
.menu-works{
   display: flex;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 1.8rem;
   justify-content: space-between;
   width: 50%;
   text-transform: capitalize;
   align-items: center;
   margin: 3% auto;
}
.works-item{
   text-decoration: none;
   color: var(--color-white);
   padding: 1rem 2rem;
   background-color: #212529;
   border-radius: 5px;
}
.works-item:hover{
   background-color: var(--color-orange);
   color: #212529;
}
.works-img{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
}
.img1, .img3, .img5 {
   margin-bottom: 1rem;
}

.title-test{
   color: var(--color-orange);
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255, 255, 255, 0.08);
   padding: 10px 30px;
   border-radius: 30px;
   display: inline-block;
   width: 14rem;
   margin: 13% 44% 1%;
}
.subtitle-test{
   color: var(--color-white);
   font-family: 'Roboto', sans-serif;
   font-size: 4.8rem;
   font-weight: 700;
   width: 30%;
   margin: 0 auto;
}
.img-test{
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 3% auto;
}
.prefooter{
   height: 20rem;
}
.main-footer{
   background-color: #1C1C1C;
}
.second-footer{
   width: 90%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 15rem;
}
.footer-name{
   color: var(--color-orange);
   font-family: 'Inter', sans-serif;
   font-size: 3.2rem;
   font-weight: 700; 
   
}
.footer-prof{
font-family: 'Work Sans', sans-serif;
font-size: 1.6rem;
font-weight: 600;
color: #D4D4D4;
padding-top: 2rem;
width: 80%;
}

.footer-links, .sm, .newsletter{
   font-family: 'Work Sans', sans-serif;
   font-size: 2.2rem;
   font-weight: 700;
   color: #F5FBF2;
   
}
.column-two > a, .column-three > a{
   font-family: 'Work Sans', sans-serif;
   font-size: 1.8rem;
   font-weight: 500;
   color: #7B7B7B;
   display: flex;
   text-decoration: none;
   text-transform: capitalize;
   padding-top: 1rem;
}
.newsletter-link{
font-family: 'Work Sans', sans-serif;
   font-size: 1.8rem;
   font-weight: 500;
   color: #7B7B7B;
   display: flex;
   text-decoration: none;
   padding-top: 1rem; 
}
.column-two, .column-three{
   padding-bottom: 8%;
   width: 15%;
}
.column-four{
   padding-bottom: 5%;
   width: 22%;
}