body{
   margin: 0;
   width: 1500px;
}
.header{
   background-image: url("./img/header.png");
   background-size: 100%;
   background-repeat: no-repeat;
height: 700px;
}
.headtext{
   background-image: url("./img/textH.png");
   background-repeat: no-repeat;
   background-size: 70%;
   height: 206px;
   background-position: center;
   padding-top: 21%;
   }
   .menutext{
      font-size: 40px;
      text-transform: uppercase;
      margin: 6% 6% 3%;
   }
   .card{
      background-color: #231B0C;
      width: 400px;
      height: 460px;
      display: inline-block;
      margin: 2%;
      }
      .cards{
         margin:0 4% ;
      }
      .cardtext1{
         background-image: url("./img/text1.png");
         height: 60px;
         background-repeat: no-repeat;
         margin: 37px 28%
      }
      .cardimg1{
         background-image: url("./img/card1.png");
         height: 210px;
         background-repeat: no-repeat;
         margin: 26% 12% 12% 12%;
      }
      .cardtext2{
         background-image: url("./img/text2.png");
         height: 60px;
         background-repeat: no-repeat;
         margin: 37px 31%
      }
      .cardimg2{
         background-image: url("./img/card2.png");
         height: 210px;
         background-repeat: no-repeat;
         margin: 26% 12% 12% 12%;
      }
      .cardtext3{
         background-image: url("./img/text3.png");
         height: 60px;
         background-repeat: no-repeat;
         margin: 38px 33%;
      }
      .cardimg3{
         background-image: url("./img/card3.png");
         height: 210px;
         background-repeat: no-repeat;
         margin: 26% 12% 12% 12%;
      }
      .foto{
         background-image: url("./img/фото.png");
         height: 595px;
         background-repeat: no-repeat;
         background-size: 100%;
         margin: 2% 2%;
      }
      .footer{
         background-color: #150F02;
         height: 279px;
         margin: 2% 0;
      }
      .tt13{
         display: inline-block;
      }
      .foottext1{
         height: 30px;
         margin: 39px 0 0 370px;
      }
      .foottext3{
         height: 34px;
         margin: 0 0 0 352px;
      }
      .foottext2{
         height: 30px;
         margin: 22px 0 0 370px;
      }
      .foottext4{
         height: 32px;
         margin: 0 0 0 380px;
      }
      .kontakt{
         height: 27px;
         font-size: 20px;
         text-transform: uppercase;
         color: #FFFFFF;
         margin: 0 46%;
      }
.redline{
   border-bottom: 10px solid rgba(255, 107, 0, 1);
   width: 318px;
   height: 10px;
   margin: 0 auto;
}
.media{
margin-left: 45%; 
}
.insta, .fb, .youtube{
   padding: 1%;
   height: 20px;
   
}
